
/*section 1*/
.mainPhoto{
  background-image: url("src/assets/ferris-wheel-tianjin-china_1417-7847 2.svg");
  width: 100%;
  height: 419px;
  /*position: relative;*/
  background-color: #131D3B;
}

.onPicture{

  width: 50%;
  justify-content: center;
  vertical-align: center;
  padding: 10% 0;
  margin: auto;
}

.sec1Btn {
  background-color: #00215B;
  padding: 3% 5%;
  margin: 0.5% 35%;
  color: #FFFFFF;
}
/*section 1*/

/*section 2*/
.sec2Body{
  display: flex;
  justify-content: center;

}

.sec2Pics{
  padding: 0% 3%;
}
/*section 2*/



/*section 3*/

.sec3RightH{
  font-family: Kanit;
  font-size: 34px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0.05em;
  text-align: left;


}
.sec3Body{
  display: flex;
  position: relative;
  /*padding: 20px 0px;*/
  /*margin: 10px 300px;*/
}
.conHeads{
  font-family: Kanit;
  font-size: 34px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #000000;
}

.sec3Left{
  width: 750px;
  margin-left: 150px;
  margin-right: 50px;
}
.sec3Right{
  background-color: #00215B;
  color: #FFFFFF;
  width: 400px;
  height: 350px;
  position: absolute;
  bottom: 0;
  right: 100px;
  margin-left: 50px;
}

.btnBlock1{
  width: 50px;
  /*color: #FFFFFF;*/
  background-color: #FFFFFF;
}
/*section 3*/


/*section 4*/

.sec4{
  margin-left: 150px;
}
.sec4Body{
  display: flex;
}
.sec4Card{
  border-top: solid #D2153DD9 10px;
  width: 300px;
  height: 250px;
  /*margin-bottom: 1000px;*/
  margin-right: 40px;
  padding-left: 30px;
  box-shadow: 5px 10px 18px grey;
}
.sec4Arrow{
  color: #D2153DD9;

}
.cardLine{
  font-family: Lato;
  font-size: 17px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;

}
.read{
  font-family: Lato;
  font-size: 15px;
  font-weight: 900;
  line-height: 28px;
  letter-spacing: 0.05em;
  text-align: left;

}
.cardH{
  font-family: Lato;
  font-size: 25px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.05em;
  text-align: left;

}
/*section 4*/
