<footer class=" text-white ">
  <div class="footer-container text-white ">
    <div class="left-footer-container text-center">
      <!-- Grid container -->
        <!-- logo -->
        <section class="pt-4">
          <img class="footerLogo" src="assets/logo.svg">
        </section>
        <!-- logo -->
        <!--contact info-->
      <section class="container text-lg-center pt-4 call-us">
            Call us Today
      </section>
        <section class="contact-number text-lg-center container ">
              +1 234 5678 954
        </section>
      <!--contact info-->
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Twitter -->
          <a
            class="btn btn-link btn-floating btn-lg rounded-circle text-bg-light m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
          ><i class="fa fa-twitter"></i
          ></a>

          <!-- Facebook -->
          <a
            class="btn btn-link btn-floating rounded-circle btn-lg text-bg-light m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
          ><i class="fa fa-facebook-f"></i
          ></a>

          <!-- Linkedin -->
          <a
            class="btn btn-link btn-floating btn-lg rounded-circle text-bg-light m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
          ><i class="fa fa-linkedin"></i
          ></a>
          <!-- Youtube -->
          <a
            class="btn btn-link btn-floating btn-lg rounded-circle text-bg-light m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
          ><i class="fa fa-youtube-play"></i
          ></a>
        </section>
        <!-- Section: Social media -->
    </div>

    <!-- Grid container -->
    <div class="right-footer-container">

      <!-- Footer -->
<!--      <footer class="page-footer font-small blue pt-4">-->

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
          <!-- Grid row -->
          <div class="row pt-5">

            <!-- Grid column -->
            <div class="col-md-4 mt-md-0 mt-3">

              <!-- Content -->
              <h5 class="right-footer-container-header">Quick Links</h5>
              <ul class="right-footer-container-list-links">
                <li>
                  <a class="anchorless" href="#!">About company</a>
                </li>
                <li>
                  <a class="anchorless"  href="#!">Our Services</a>
                </li>
                <li>
                  <a class="anchorless"  href="#!">Subsidiaries</a>
                </li>
                <li>
                  <a class="anchorless"  href="#!">Careers</a>
                </li>
                <li>
                  <a class="anchorless"  href="#!">Contacts</a>
                </li>
              </ul>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

              <!-- Links -->
              <h5 class="text-uppercase right-footer-container-header">Contact</h5>

              <ul class="right-footer-container-list-contacts">
                <li>
                  Total united Contracting & Trading Co. kcsc
                </li>
                <li>
                  Shuwaikh Industrial Area
                </li>
                <li>
                  ST. 26 - Plot 66 - Kuwait
                </li>
              </ul>
              <ul class="right-footer-container-list-contacts">
                <li>Fax : +965 222-66-333</li>
                <li>E-Mail : info@totalunited.com</li>
              </ul>

            </div>
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

              <!-- Links -->

              <button class="btn brochure-button mb-4 ">Download Brochure <i class="fa fa-arrow-down"></i> </button>

              <div class="location-pin  pt-4">
                <a class="anchorless" href="#"><img class="pin" src="assets/location-pin.png">Location Map</a>

              </div>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="text-center copyright-word text-white p-3">
          Total United © All rights reserved Copyrights 2022
        </div>
        <!-- Copyright -->
<!--      </footer>-->
      <!-- Footer -->

    </div>
  </div>
</footer>
