<div class="mainPhoto">
  <div class="onPicture">
    <img src="assets/About%20Us.svg">
  </div>
</div>


<div class="info">
  <div class="infoLeft">
    <h1 class="head pt-lg-3">Introduction</h1>

    Total United was established in 1954 by Abdul Latif F. Al Thuwainy and Nagib Ibrahim Najjar, two ambitious
    entrepreneurs with the strong belief that building projects start with building relationships.Since then, AHMADIAH
    has never ceased to grow, hence becoming Kuwait’s leading name in the civil engineering and building construction
    industry.
    Adherence to very high standards of service, commitment to timely delivery, valuing good client relationship and
    taking pride in its human capital and it’s culture enabled AHMADIAH to maintain its distinctive reputation as
    evidenced by its impressive track record in the execution of fast track projects and design, design development &
    built projects (DDDB).The most prestigious organisations in the region and abroad have come to rely on AHMADIAH’s
    complete range of specialist skills in civil and industrial sectors; AHMADIAH is highly reputed for the level of
    experience of its management, which is supported by highly qualified professionals in all fields of construction.In
    1994, the company became a closed shareholding.Today AHMADIAH achievements have been recognised and rewarded by the
    large number of its repeat clients which puts it in a class of it’s own.On the trading side, our subsidiaries and
    sister companies add substantial value to our services.The commitment of AHMADIAH is to remain “The Leader” in the
    field, be capable of responding to its clients’ needs and gain their full satisfaction. In brief, to build lasting
    relationships....
  </div>
  <div class="infoRight">
    <img class="imgLogo" src="assets/Total%20United%20%20-%20Logo%2001%201.png">
  </div>
</div>

<div class="details mt-5">
  <div class="values">
    <div class="miniHeader">Values</div>
    <div class="valuesList">
      <ul>
        <li>The Customer : Satisfaction – Trust – Fidelity</li>
        <li>The People : Our invaluable asset and source of existence</li>
      </ul>
    </div>
  </div>
  <div class="culture">
    <div class="miniHeader">Culture</div>
    <div class="cultureBody">
      <div class="cultureList1">
        <ul>
          <li>Welcome technical challenges</li>
          <li>Innovation</li>
          <li>Taking pride in our work</li>
          <li>Risk prevention</li>
          <li>Devotion, Motivation & Integrity</li>
          <li>Respect for the environment</li>
        </ul>
      </div>
      <div class="cultureList2">
        <ul>
          <li>Business ethics</li>
          <li>Competitiveness</li>
          <li>Price, Quality, Efficiency and Meeting Deadlines</li>
          <li>Transparency</li>
          <li>Strong corporate culture</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="section4 mb-5">
  <div class="sec4Head  mb-4 pt-l-3">Downloads</div>
  <div class="dwnBody">
    <div class="dwnPic">
      <img src="assets/Group%2017.svg">
      <div class="link pt-4"> <a href="#">Download profile</a></div>
    </div>

    <div class="dwnBroch">
      <img src="assets/8101%201.svg">
      <div class="link pt-4"><a href="#">Download Brochure</a></div>
    </div>
  </div>
</div>

