<!--Section 1-->
<div class="mainPhoto mb-5">
  <div class="onPicture">
    <img src="assets/conta.svg">
  </div>
</div>
<!--Section 1-->

<!--section 2-->
<div class="sec2">
  <div class="names">
    <div class="fo mb-1">
      <div class="foH mb-2">first Name*</div>
      <input class="input-group foIN" placeholder="your first name" type="text">
    </div>

    <div class="fo mb-1">
      <div class="foH mb-2">last name</div>
      <input class="input-group foIN" placeholder="your second name" type="text">
    </div>

  </div>

  <div class="info">

    <div class="fo mb-1">
      <div class="foH mb-2">email*</div>
      <input class="input-group foIN" placeholder="ex. example@gmail.com" type="text">
    </div>

    <div class="fo mb-1">
      <div class="foH mb-2">phone*</div>
      <input class="input-group foIN" placeholder="ex. example@gmail.com" type="text">
    </div>

  </div>

  <div class="subjecto">
    <div class="fo mb-1">
      <div class="foH mb-2">subject*</div>
      <input class="input-group foIN" placeholder="something to identify with" type="text">
    </div>
  </div>
  <div class="messageko">
    <div class="fo mb-1">
      <div class="foH mb-2">message*</div>
      <textarea class=" foINN mb-5" placeholder="Comment" type="text"></textarea>
    </div>
  </div>

  <button class="serivceButtons btn mb-5">Send</button>

</div>
<!--section 2-->

<!--section 3-->
<div class="sec3 mt-5">
  <div class="sec3Head pt-5">Location map</div>
  <div class="maping mt-5 mb-5"> <img src="assets/Map.svg"></div>
</div>

<!--section 3-->

<!--section 4-->
<div class="sec4 pt-5 mb-5">
  <div class="cards">
    <div class="lCard">
      <div class="fCard">
        <div class="h pt-4">Company Address</div>
        <div class="hD mb-3 mt-3">Shuwaikh Industrial Area</div>
        <div class="hD mb-3 mt-3">ST. 26 - Plot 66 - Kuwait</div>
        <div class="hD mb-3 mt-3">P.O.Box 446 Safat, Code 13005</div>
      </div>
    </div>
    <div class="rCard">
      <div class="rCardL">
        <div class="rcardLL">
          <img class="pt-lg-3" src="assets/iconcall.svg">
        </div>
        <div class="rcardLR ">
          <div>Company phones</div>
          <div class="E pt-3">+ 1 234 5678 910</div>
          <div class="E pt-2">+ 1 234 5678 910</div>
        </div>
      </div>
      <div class="rCardR">
        <div class="rcardRL">
          <img class="pt-lg-3" src="assets/iconemail.svg">
        </div>
        <div class="rcardRR">
          <div class="pb-3 pt-3">Total United email</div>
          <div class="E">info@TotalUnited.com</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--section 4-->
