<!--Section 1-->
<div class="mainPhoto mb-5">
  <div class="onPicture">
    <img src="assets/Group%2015.svg">
  </div>
</div>
<!--Section 1-->

<!--Section 2-->
<div class="sec2 mb-5">
  <div class="sec2Left">
    <h2 class="serviceHeaders mb-5">Hitachi Elevators</h2>
    <div class="serviceInliners mt-3 mb-5">
      {{sec2Inline}}
    </div>
    <div class="info mt-5">for mor information please visit:</div>
    <div class="serviceInliners mt-3">www.hitachi.com</div>
  </div>

  <div class="sec2Right">
    <img class="mb-5" src="assets/sub1%202.svg">
    <img src="assets/Imagesvideo-cover%20(3).svg">
  </div>
</div>


<div class="sec2 mt-5 mb-5">
  <div class="sec2Left">
    <h2 class="serviceHeaders mb-5">Al Raed International Trading Co. W.L.L.</h2>
    <div class="serviceInliners mt-3 mb-5">
      {{sec2Inline}}
    </div>
    <div class="info mt-5">for mor information please visit:</div>
    <div class="serviceInliners mt-3">www.hitachi.com</div>
  </div>

  <div class="sec2Right">
    <img class="mb-5" src="assets/ar.svg">
    <img src="assets/arD.svg">
  </div>
</div>
<!--Section 2-->

