<!--Section 1-->
<div class="mainPhoto mb-5">
  <div class="onPicture">
    <img src="assets/Group%2015.svg">
  </div>
</div>
<!--Section 1-->

<!--Section 2-->
<div class="sec2 mb-5">
  <div class="sec2Left">
    <div class="service">services</div>
    <h2 class="serviceHeaders">Constructions works</h2>
    <div class="serviceInliners mb-5">
      {{sec2Inline}}
    </div>
    <button class="serivceButtons btn">Learn more <i class="fa fa-arrow-right"></i> </button>
  </div>

  <div class="sec2Right">
    <img src="assets/Imagesvideo-cover.svg">
  </div>
</div>
<!--Section 2-->



<!--section 3-->
<div class="sec3 mb-5">

  <div class="sec3Left">
    <img src="assets/Content.svg">
  </div>

  <div class="sec3Right">
    <div class="service">services</div>
    <h2 class="serviceHeaders">Sport Facility</h2>
    <div class="serviceInliners mb-5">
      {{sec3Inline}}
    </div>
    <button class="serivceButtons btn">Learn more <i class="fa fa-arrow-right"></i> </button>
  </div>


</div>
<!--section 3-->

<!--section 4-->
<div class="sec4 pt-4 mb-5">
  <div class="sec4Left">
    <div class="service">services</div>
    <h2 class="serviceHeaders">Entertainment</h2>
    <div class="serviceInliners mb-5">
      {{sec4Inline}}
    </div>
    <button class="serivceButtons btn">Learn more <i class="fa fa-arrow-right"></i> </button>
  </div>

  <div class="sec2Right">
    <img src="assets/Imagesvideo-cover%20(1).svg">
  </div>
</div>

<!--section 4-->
