<!--Section 1-->
<div class="mainPhoto mb-5">
  <div class="onPicture">
    <img src="assets/entertainment.svg">
  </div>
</div>
<!--Section 1-->

<!--section 2-->
<div class="sec2 mt-5 mb-5">
  <div class="sec2Body">
    <img class="sec2Pics" src="assets/SKY%20Diving%20Attraction%201.svg">
    <img class="sec2Pics" src="assets/Outdoor%20Attraction%202.svg">
    <img class="sec2Pics" src="assets/Kid%20Bowling%20%201.svg">
  </div>
</div>
<!--section 2-->


<!--section 3-->
<div class="sec3">
  <div class="sec3Body">
    <div class="sec3Left">
      <div class="conHeads mb-5">Description</div>
      <div class="sec3Left1 mb-5">
        {{sec3Left1}}
      </div>
      <div class="sec3Left2 mb-5">
        {{sec3Left2}}
      </div>
      <div class="sec3Left3 mb-5">
        {{sec3Left3}}
      </div>
    </div>
    <div class="sec3Right pt-4 p-lg-4 mb-5">
      <div class="sec3RightH mb-4">Contact Our Experts Now!</div>
      <div class="sec3RightIn mb-5">{{sec3Right}}</div>
      <div class="btnBox">
        <button class="btn btnBlock1"><i class="fa fa-long-arrow-right"></i></button>
      </div>
    </div>
  </div>
</div>
<!--section 3-->

<!--section 4-->
<div class="sec4 mb-5">
  <div class="sec4Head mb-5 mt-3 conHeads">Other Services</div>
  <div class="sec4Body">
    <div class="sec4Card ">
      <div class="pt-4 cardLine">Explore Service</div>
      <div class="pt-3">
        <img class="pt-3" src="/assets/surface1.svg">
      </div>
      <div class="cardH">Sport Facility</div>
      <div class="pt-4 read">Read  <i class="sec4Arrow fa fa-long-arrow-right"></i> </div>
    </div>
    <div class="sec4Card">
      <div class="pt-4 cardLine">Explore Service</div>
      <div class="pt-3">
        <img class="pt-3" src="/assets/%23fffdfdff.svg">
      </div>
      <div class="cardH">Entertainment</div>
      <div class="pt-4 read">Read  <i class="sec4Arrow fa fa-long-arrow-right"></i> </div>
    </div>
  </div>
</div>
<!--section 4-->
