<!--Section 1-->
<div class="mainPhoto mb-5">
  <div class="onPicture">
    <img src="assets/career.svg">
  </div>
</div>
<!--Section 1-->

<!--section 2-->
<div class="sec2 mb-5">
  <div class="sec2Head mb-5 mt mt-5">Submit your C.V</div>
  <div class="sec2Details mb-5">{{sec2Lorem}}</div>

  <div class="fo mb-1">
    <div class="foH mb-2">Give C.V Name*</div>
    <input class="input-group foIN" type="text" placeholder="something to identify with" >
  </div>
  <div class="fo mb-1">
    <div class="foH mb-2">C.V Link*</div>
    <input class="input-group foIN mb-5" type="text" placeholder="ex. https://drive.google.com/example" >
    <button class="serivceButtons btn mb-5">Send </button>
  </div>

</div>
<!--section 2-->

<!--section 3-->
<div class="sec2 mb-5 pt-5 mt-5">
  <div class="sec2Head mb-5 mt mt-5">Training</div>
  <div class="sec2Details mb-5">{{sec3Lorem}}</div>
</div>
<!--section 3-->

<!--section 4-->
<div class="sec4  mb-5 mt-5">
  <div class="sec2Head mb-5  mt-5">Career Development</div>
  <div class="sec2Details mb-5">{{sec3Lorem}}</div>
</div>
<!--<div class="mb-5"></div>-->
<!--section 4-->
